﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.searchIcon {
    float: left;
    width: 3%;
    margin-top: 8px;
    padding-left: 5px;
}

#pipeLineSelect {
    border-style: none;
    box-shadow: none;
    width:97%;
}


.pipeLineSelectContainter {
    margin-top: 50px !important;
    margin: auto;
    width: 80%;
    border-style: solid;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.carousel-inner {
    padding-left: 5%;
    padding-right: 5%;
}

.carousel-control {
    width: 5%;
    opacity: 1;
}

.carousel-control.left {
    background-image:none;
}

.carousel-control.right {
    background-image: none;
}

.mainLiContainer {
    list-style-type: none;
}

.mainLiContainer h2 {
   text-align:center;
}

.ProjectInPhase{
    border:solid;
   margin-bottom:15px;
}

.progress {
    height: 10px;
    margin: 1px;
}

.ProjectInPhaseProgress{
    text-align:center;
}

.ProjectInPhaseProgress span {
    text-align: center;
    font-size: small;
}

.ProjectInPhaseDetails ul {
    list-style-type: none;
    font-size: small;
    -webkit-padding-start: 10px;
}
.ProjectTitle {
    font-size: medium;
    font-weight: 900;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    width: 80%;

}

.ProjectIcon {
    margin-top: 10px;
    font-size: large;
    width: 10%;
}

.ProjectInPhaseTitle {
    margin-left: 5px;
    margin-bottom:10px;
    display: flex;
    flex-wrap: nowrap;
    
}
