﻿@{
    ViewBag.Title = "Home Page";
    int phases = 8;
    int randmMax = 9;
    Random r = new Random();
}

<div class="">
    <div class="form-group">
        <div class="pipeLineSelectContainter">
            <span class="glyphicon glyphicon-search searchIcon"></span>
            <select class="form-control" id="pipeLineSelect" ng-model="selectedName" ng-options="x for x in names"></select>
        </div>
    </div>
</div>

<div class="carousel slide" id="myCarousel">
    <div class="carousel-inner">
        @for (int i = 0; i < phases-1; i++)
        {
            if (i % 3 == 0)
            {
                if (i==0)
                {
                    @:<div class="item active">
                }
                else
                {
                    @:<div class="item">
                }
               
               @:<ul class="mainLiContainer">
            }

                     <li class="col-sm-4">
                         <h2>Phase @(i + 1)</h2>
                         @{
                             int max = r.Next(1, randmMax);
                             for (int j = 0; j < max - 1; j++)
                             {
                                 <div class="col-sm-6">
                                     <div class="ProjectInPhase">
                                         <div class="ProjectInPhaseTitle">
                                             <span class="ProjectTitle">Project Title uhkrefjkefkjl (@(j+1)) </span>
                                             <span class="ProjectIcon glyphicon glyphicon-folder-open"></span>
                                         </div>
                                         <div class="ProjectInPhaseDetails">
                                             <ul>
                                                 <li>Detail 1</li>
                                                 <li>Detail 2</li>
                                             </ul>

                                         </div>
                                         <div class="ProjectInPhaseProgress">
                                             <span>25/50 Tasks</span>
                                             <div class="progress">
                                                 <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                     <span class="sr-only">20% Complete</span>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             }
                         }
                     </li>

            if ((i-2) % 3 == 0)
            {
               @:</div >
               @:</ul>
            }
        }

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    @*<nav>
            <ul class="control-box pager">
                <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
            </ul>
        </nav>*@
    <!-- /.control-box -->

</div><!-- /#myCarousel -->
@section scripts {
    <script>

        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.names = ["Pipeline 1", "Pipeline 2", "Pipeline 3"];
        });
    </script>
    <script>
        $('.carousel').carousel({
            interval: false
        });
    </script>
}




